fastapi
langchain
langchain_community
langchain_huggingface
qdrant-client
rank_bm25
sqlite3
sentence-transformers
uvicorn
python-multipart
pypdf
streamlit
python-dotenv
llama-cpp-python --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
langchain-community
llama_cpp